/*body{
	font-size: 14px;
	line-height: 1;
	font-family: "Microsoft YaHei",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB",  sans-serif;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin:0;
	padding:0;
} 
h1, h2, h3, h4, h5, h6{ 
	font-size:100%;
} 
address, cite, dfn, em, var {
	font-style:normal;
} 
code, kbd, pre, samp {
	font-family:couriernew, courier, monospace;
} 
small{
	font-size:12px;
} 
ul, ol {
	list-style:none;
} 
a { 
	text-decoration:none;
} 
a:hover {
	text-decoration:none;
} 
sup {
	vertical-align:text-top;
} 
sub{
	vertical-align:text-bottom;
} 
legend {
	color:#000;
} 
fieldset, img {
	border:0;
} 
button, input, select, textarea {
	font-size:100%;
} 
table {
	border-collapse:collapse;
	border-spacing:0;
}
*/

button,
input[type='number'],input[type='text'],input[type='password'],input[type='email'],input[type='search'],
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  -webkit-appearance: none;
}