body{
	font-family: PingFang SC, "Microsoft YaHei",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB",  sans-serif;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6{ 
	font-size:100%;
} 
address, cite, dfn, em, var {
	font-style:normal;
} 
code, kbd, pre, samp {
	font-family:couriernew, courier, monospace;
} 
small{
	font-size:12px;
} 
ul, ol {
	list-style:none;
} 
a { 
	text-decoration:none;
} 
a:hover {
	text-decoration:none;
} 
sup {
	vertical-align:text-top;
} 
sub{
	vertical-align:text-bottom;
} 
legend {
	color:#000;
} 
fieldset, img {
	border:0;
} 
button, input, select, textarea {
	font-size:100%;
} 
table {
	border-collapse:collapse;
	border-spacing:0;
}
input,textarea{
    border:0;
}
textarea{
    resize: none;
}
input:focus, textarea:focus, select:focus{
    outline-offset:0;
    outline:none;
}

button,input[type='number'],input[type='text'],input[type='password'],input[type='email'],input[type='search'],select,textarea {
    margin: 0;
    -webkit-appearance: none;
}
textarea:disabled, input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled{
    background-color: rgb(255,255,255);
}