$color-blue: #26a2ff;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #c8c8cd;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;
/*bh-mint-ui*/
$color-green: #06c1ae;
$font-color-grey: #1e2329;
$bg-lv1: #f4f4f4;
$grey-lv5: #e8e8e8;
$theme-lv1: #06c1ae;
/*bh-mint-ui*/


/* Cell Component */
$cell-value-color: #888;

/* Header Component */
$header-height: 44px;
$header-bottom-line: #d6d6d6;

/* Button Component */
$button-default-color: #656b79;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #fff;
$button-primary-background-color: #26a2ff;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

/* Tab Item Component */
$tab-item-font-size: 12px;

/* Tabbar Component */
$tabbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;
$tabbar-tab-item-selected-color: $color-blue;

/* Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

/* Checklist Component */
$checklist-title-color: #888;

/* Radio Component */
$radio-title-color: #888;

/* z-index */
$z-index-normal: 1;
