$grey-lv1: #1e2329;
$grey-lv2: #2f343b;
$grey-lv3: #92969c;
$grey-lv4: #bdc0c5;
$grey-lv5: #e8e8e8;
$grey-lv6: #efefef;
$grey-lv7: #d6d6d6;

$bg-lv1: #f4f4f4;
$bg-lv2: #f9f9f9;
$bg-lv3: #ffffff;


/* $color-blue: #26a2ff; */
$color-blue: #06c1ae;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #c8c8cd;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;
/*bh-bh-mint-ui2*/
$color-green: #06c1ae;
$font-color-grey: #1e2329;
$bg-lv1: #f4f4f4;
$grey-lv5: #e8e8e8;
$theme-lv1: #06c1ae;
$danger-lv1: #ff571a;
/*bh-bh-mint-ui2*/


/* Cell Component */
$cell-value-color: #888;

/* Header Component */
$header-height: 44px;
$header-bottom-line: #d6d6d6;

/* Button Component */
$button-default-color: #2f343b;
$button-default-background-color: #ffffff;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #bdc0c5;
$button-primary-color: #fff;
$button-primary-background-color: #06c1ae;
$button-warning-color: #fff;
$button-warning-background-color: #ffb200;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

/* Tab Item Component */
$tab-item-font-size: 14px;

/* Tabbar Component */
$tabbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;
$tabbar-tab-item-selected-color: $color-blue;

/* Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

/* Checklist Component */
$checklist-title-color: #888;

/* Radio Component */
$radio-title-color: #888;

/* z-index */
$z-index-normal: 1;
