$primary-lv1: #52C7CA;
$primary-lv2: #52B5B7;
$warning-lv1: #FFB950;
$warning-lv2: #E8AA4D;
$danger-lv1: #F26666;
$danger-lv2: #D35A5A;
$success-lv1: #52C7CA;
$success-lv2: #52B5B7;

$grey-lv1: #1E2329;
$grey-lv2: #2F343B;
$grey-lv3: #92969C;
$grey-lv4: #BDC0C5;
$grey-lv5: #E8E8E8;
$grey-lv6: #EFEFEF;

$bg-lv1: #F4F4F4;
$bg-lv2: #F9F9F9;

$light: #FFFFFF;
$link: #4A90E2;
$match-red: #F26666;
$match-oranger: #FF7949;
$match-yellow: #FFB950;
$match-green: #A2D06B;
$match-blue: #4A90E2;
$match-indigo: #52C7CA;
$match-purple: #D98BE8;


/* $color-blue: #26a2ff; */
$color-blue: #06c1ae;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #c8c8cd;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;
/*bh-bh-mint-ui2*/
$color-green: #06c1ae;
$font-color-grey: #1e2329;
$bg-lv1: #f4f4f4;
$grey-lv5: #e8e8e8;
$theme-lv1: #06c1ae;
$theme_Lv2: #00ad9a;
$danger-lv1: #ff571a;
/*bh-bh-mint-ui2*/


/* Cell Component */
$cell-value-color: #888;

/* Header Component */
$header-height: 44px;
$header-bottom-line: #d6d6d6;

/* Button Component */
$button-default-color: #2f343b;
$button-default-background-color: #ffffff;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #bdc0c5;
$button-primary-color: #fff;
$button-primary-background-color: #06c1ae;
$button-warning-color: #fff;
$button-warning-background-color: #ffb200;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

/* Tab Item Component */
$tab-item-font-size: 14px;

/* Tabbar Component */
$tabbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;
$tabbar-tab-item-selected-color: $grey-lv3;

/* Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

/* Checklist Component */
$checklist-title-color: #888;

/* Radio Component */
$radio-title-color: #888;

/* z-index */
$z-index-normal: 1;
